In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("all_week.CSV")
df1.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2018-11-01T14:31:05.350Z,38.539833,-122.665497,4.73,1.87,md,5.0,192.0,0.12320,0.00,...,2018-11-01T14:56:03.343Z,"8km ENE of Larkfield-Wikiup, CA",earthquake,0.90,1.80,0.200,5.0,automatic,nc,nc
1,2018-11-01T14:28:53.282Z,63.045200,-149.995000,82.20,1.10,ml,NaN,NaN,NaN,0.77,...,2018-11-01T14:33:59.890Z,"65km SW of Cantwell, Alaska",earthquake,NaN,0.60,NaN,NaN,automatic,ak,ak
2,2018-11-01T14:27:11.740Z,35.967833,-117.894333,-0.12,0.68,ml,8.0,179.0,0.03995,0.22,...,2018-11-01T14:30:59.261Z,"4km NNE of Little Lake, CA",earthquake,0.95,31.61,0.202,9.0,automatic,ci,ci
3,2018-11-01T14:13:26.750Z,33.482167,-116.773667,3.75,0.29,ml,11.0,117.0,0.08840,0.11,...,2018-11-01T14:17:00.280Z,"10km ENE of Aguanga, CA",earthquake,0.40,0.88,0.116,8.0,automatic,ci,ci
4,2018-11-01T14:03:03.147Z,61.834400,-149.059400,0.00,1.40,ml,NaN,NaN,NaN,0.77,...,2018-11-01T14:06:54.795Z,"11km WNW of Sutton-Alpine, Alaska",earthquake,NaN,0.30,NaN,NaN,automatic,ak,ak

In [4]:
df2 = pd.read_csv("all_week_aug_13_20.csv")
df2.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2018-08-21T02:23:41.411Z,63.099600,-144.310000,4.20,1.60,ml,NaN,NaN,NaN,0.48,...,2018-08-21T02:26:33.886Z,"71km WSW of Tok, Alaska",earthquake,NaN,0.30,NaN,NaN,automatic,ak,ak
1,2018-08-21T02:18:28.720Z,33.503833,-116.794000,2.91,0.36,ml,14.0,74.0,0.01003,0.09,...,2018-08-21T02:21:57.452Z,"10km NE of Aguanga, CA",earthquake,0.26,0.46,0.100,8.0,automatic,ci,ci
2,2018-08-21T02:13:08.870Z,33.502167,-116.793833,2.72,0.70,ml,22.0,67.0,0.01154,0.14,...,2018-08-21T02:16:53.037Z,"9km NE of Aguanga, CA",earthquake,0.21,0.37,0.110,22.0,automatic,ci,ci
3,2018-08-21T02:12:01.910Z,33.499000,-116.784000,2.77,0.50,ml,18.0,58.0,0.01909,0.12,...,2018-08-21T02:15:42.724Z,"10km NE of Aguanga, CA",earthquake,0.21,0.27,0.097,14.0,automatic,ci,ci
4,2018-08-21T02:06:18.720Z,33.252333,-116.409667,3.83,0.75,ml,12.0,80.0,0.01702,0.22,...,2018-08-21T02:09:45.924Z,"3km W of Borrego Springs, CA",earthquake,0.53,0.62,0.105,13.0,automatic,ci,ci

In [5]:
comb_df = df1.append(ignore_index=True, other=df2)

In [6]:
locations = comb_df.iloc[:,1:3].values.tolist()

In [11]:
import arcgis
from arcgis.features import SpatialDataFrame

sdf = SpatialDataFrame(comb_df,geometry=[arcgis.geometry.Geometry({'x':r[1], 'y':r[0], 
                    'spatialReference':{'wkid':4326}}) for r in locations])

In [7]:
import arcpy

In [8]:
arcpy.CreateFileGDB_management (r"C:\Users\HP\Desktop\GIS_5091\advanced_class\Week9", "Assignment9.gdb")

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [13]:
sdf.reset_index(inplace=True, drop=True)
sdf.to_featureclass(out_location=r'C:\Users\HP\Desktop\GIS_5091\advanced_class\Week9\Assignment9.gdb', out_name='EQs')

'C:\\Users\\HP\\Desktop\\GIS_5091\\advanced_class\\Week9\\Assignment9.gdb\\EQs'